@model Category

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Удалить категорию</h2>
            <hr /> 
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Name">Имя</label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
         <div class="mb-3">
            <label asp-for="CountObject">Количество целей</label>
            <input asp-for="DisplayOrder"disabled class="form-control" /> 
        </div>
         <div class="mb-3">
            <label asp-for="DisplayOrder">Текущая цель</label>
            <input asp-for="DisplayOrder"disabled class="form-control" /> 
        </div>
         <div class="mb-3">
            <label asp-for="Progress">Прогресс</label>
            <input asp-for="DisplayOrder"disabled class="form-control" /> 
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Удалить</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Вернуться назад
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

