@model BookWeb.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Создание</h1>

<h4>Категории</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountObject" class="control-label">Количнство целей</label>
                <input asp-for="CountObject" class="form-control" />
                <span asp-validation-for="CountObject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label">Текущая цель</label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Progress" class="control-label">Прогресс</label>
                <input asp-for="Progress" class="form-control" />
                <span asp-validation-for="Progress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDataTime" class="control-label">Дата создания</label>
                <input asp-for="CreatedDataTime" class="form-control" />
                <span asp-validation-for="CreatedDataTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назадt</a>
</div>

